* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #376d1d 0.52%, #376d1d 100%);
    --secondaryGradient: linear-gradient(268.91deg, #376d1d -2.14%, #376d1d 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #14a841;
}

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 20px;
    right: 20px;
    resize: both;
    
}



/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 400px;
    height: 300px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}
button i.fas {
    font-size: 15px; /* Adjust the size as needed */
    color: #4cbb18; /* Change the color to your preference */
}

.send__button {
    background-color: #376D1D; /* Change to your desired background color */
    color: #fff; /* Change to your desired text color */
    border: none;
    padding: 10px 15px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    border-radius: 25% 25% 25% 25%; /* Add rounded corners */
    cursor: pointer;
}
.send__button:hover {
    background-color: #51b300; /* Change to your desired hover background color */
  }


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    height: 80px;
   
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    
    max-width: 50.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 500px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}
/*Kulay ng chat message*/
.messages__item {
    margin-top: 10px;
    background: #4a970b;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 90%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.chatbox__feedback {
   
    
    align-items: center;
    
    padding: 0px 15px;
    border:none;
    border-radius: 5% 5% 5% 5%;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
   
   
}

.feedback-button {
    background-color: #376D1D; /* Change to your desired background color */
    color: #fff; /* Change to your desired text color */
    border: none;
    padding: 10px 15px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    border-radius: 25% 25% 25% 25%; /* Add rounded corners */
    cursor: pointer;
  }

  .feedback-button:hover {
    background-color: #51b300; /* Change to your desired hover background color */
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }